{% extends 'flatpages/default.html' %}

{% load censor %}

{% block title %}
Новости
{% endblock title %}

{% block content %}
   <h1>Все новости на сегодня</h1>
    <h3>{{ news|length }}</h3>
   <form action="" method="get">
       {% csrf_token %}
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти нужные новости" />
   </form>
<label for="party">Введите необходимую дату:</label>
<input
  id="party"
  type="datetime-local"
  name="partydate"
  value="---- - -- - --" />
<hr>
   {% if NW %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Текст</td>
           </tr>

           {% for news in NW %}
           <tr>
               <td>{{ news.name }}</td>
               <td>{{ news.date|date:'d M Y'  }}</td>
               <td>{{ news.text|truncatewords: 20 }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}

{# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
          <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}